.product-list{
    border-spacing: 0;
}

.product-list-header{
    background-color: dodgerblue;
    color: #fff;
    font-size: 1.1rem;
    font-weight: bold;
    padding: 8px;
}

th{
    padding: 8px;
}
