.product-list{
    border-spacing: 0;
}

.product-list-header{
    background-color: dodgerblue;
    color: #fff;
    font-size: 1.1rem;
    font-weight: bold;
    padding: 8px;
}

th, td{
    padding: 8px;
}

tfoot button{
    border: 0;
    background-color: firebrick;
    color: #fff;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
}