.header{
    grid-area: header;
    background-color: rgb(2, 102, 202);
    color: #fff;
    padding: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo,.header-cart{
    font-size: .8rem;
}

.header-cart{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
